1. Install the latest version of the python along with the path setups
2. Open the path of anaconda3 
	C:\Users\Admin\anaconda3\Scripts
	C:\Users\Admin\anaconda3
	C:\Users\Admin\anaconda3\Library\bin

	create the path in advance system setting and environment variables
3. conda update conda in cmd
	it will update the conda

4.	Open PowerShell as Administrator:
	Press Win + X and select Windows PowerShell (Admin) or Terminal (Admin) if using Windows Terminal.

	Get-ExecutionPolicy
	This will show your current execution policy (it might be set to Restricted).

	Set-ExecutionPolicy RemoteSigned
	When prompted, type Y to confirm

	Get-ExecutionPolicy



